<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head> 
	<title>SpringLadder</title>
	<link rel="stylesheet" href="/static/style.css" >
	{% block head %}{% endblock %}
</head>
<body>
	<div id='all'>
		<div id="header">
			<div class="logo">
				<a href="/"><img src='/static/banner.png' /></a>
			</div>
		</div>

		<div id="menu_top">
			<ul>
				<li class='first'><a class="nav" href="/">Home</a></li>
				<li><a class="nav" href="/ladder">Ladders</a></li>
				<li><a href="/match">Matches</a></li>
				<li><a href="/player">Players</a></li>
				<li><a href="/fame">Hall Of Fame</a></li>
				<li><a href="/admin">Admin</a></li>
				<li><a href="/help">Help</a></li>
			</ul>
		</div>

		<div id="content">
				{% block content %}{% endblock %}
		</div>

		<div id="footer">
			<div class="left_footer">
				{% block left_footer %}{% endblock %}
			</div>
			<div class="right_footer">
				{% block right_footer %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
