<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head> 
	<title>SpringLadder</title>
	<link rel="stylesheet" href="style.css" >
	{% block head %}{% endblock %}
</head>
<body>
	<div id='all'>
		<div id="header">
			<div class="logo">
				<a href="index.py">SpringLadder</a>
			</div>
		</div>

		<div id="menu_top">
			<ul>
				<li class='first'><a class="nav" href="/viewladder.py">Ladders</a></li>
				<li><a href="/viewmatch.py">Matches</a></li>
				<li><a href="/viewplayer.py">Players</a></li>
				<li><a href="/fame.py">Hall Of Fame</a></li>
				<li><a href="/admin/">Admin</a></li>
				<li><a href="/help.py">Help</a></li>
			</ul>
		</div>

		<div id="content">
				{% block content %}{% endblock %}
		</div>

		<div id="footer">
			<div class="left_footer">
				{% block left_footer %}{% endblock %}
			</div>
			<div class="right_footer">
				{% block right_footer %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
