{% extends "base.html" %}

{% block head %}

{% endblock %}
{% macro with_errors(field) %}
    {% if field.errors %}
		<td class="invalid_field">
			{% set css_class = 'has_error ' + kwargs.pop('class', '') %}
			{{ field(class=css_class, **kwargs) }}
			<span class="invalid_field_errors">
				{% for error in field.errors %}
					{{ error|e }} {% if not loop.last %} , {% endif %}
				{% endfor %}
			</span>
    {% else %}
		<td >
			{{ field(**kwargs) }}
    {% endif %}
    </td>
{% endmacro %}
{% block content %}
<h1>Editing Ladder #{{ ladder_id }}</h1>
<h3>{{ note }}</h3>
<form name="input" action="/admin/ladder" method="POST">
	<table>
		<tbody>
			{% for field in textfields %}
				<tr>
					<td>		
						{% if field.type != 'HiddenField' %}
							{{ field.label }}
						{% endif %}
					</td>
					{{ with_errors(field) }}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<table>
		<thead>
		<tr><th>Key</th><th>Value</th><th>Whitelist?</th><th></th></tr>
		</thead>
		<tbody>
			{% for option in form.options  %}
				<tr>{{ option(class="css_class") }}</tr>
			{% endfor %}
		</tbody>
	</table>

	<input type="submit" name="submit" value="submit"/>
	<input type="submit" name="new" value="add new option"/>
</form>
<br/>
<a href="/" > back to index </a>
{% endblock %}
