{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<h1>{{ note }}</h1>
<form name="input" action="/admin/ladder" method="POST">

<br/>
<table>
{% for field in textfields %}
    <tr>
		<td>{{ field.label }}</td>
		<td>{{ field(class="css_class") }}</td>
	</tr>
{% endfor %}
<tr><td>whitelist options</td><td></td></tr>
{% for option in form.options if option.data['is_whitelist'] %}
		<tr>
			<td>{{ option.data['is_whitelist'] }}</td>
			<td>{{ option(class="css_class") }}</td>
		</tr>
{% endfor %}
<tr><td>blacklist options</td><td></td></tr>
{% for option in form.options if not option.data['is_whitelist'] %}
		<tr>
			<td>{{ option.data['is_whitelist'] }}</td>
			<td>{{ option(class="css_class") }}</td>
		</tr>
{% endfor %}
</table>
<br/>
<input type="submit" name="submit" value="submit"/>
<input type="submit" name="new" value="add new option"/>
</form>
<br/>
<a href="/" > back to index </a>
{% endblock %}
