{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<h1>{{ note }}</h1>
<form name="input" action="/admin/ladder" method="POST">

<br/>
<table>
{% for field in textfields %}
    <tr>
		<td>{{ field.label }}</td>
		<td>{{ field(class="css_class") }}</td>
	</tr>
<!--     <div>{{ form.description.label }}: {{ form.description() }}</div> -->
{% endfor %}
{% for option in form.options %}
    <tr>
		<td>{{ option.label }}</td>
		<td>{{ option(class="css_class") }}</td>
	</tr>	
{% endfor %}
</table>
<br/>
<input type="submit" name="submit" value="submit"/>
<input type="submit" name="new" value="add new option"/>
</form>
<br/>
<a href="/" > back to index </a>
{% endblock %}
