{% extends "base.html" %}

{% block content %}
<div id='wideresults' style='width:90%;'>
	<h3>Best Overall Players</h3>
	<table class='padded'>
		<thead>
			<tr>
				<th scope='col' style='text-align:center;'>#</th>
				{% for h in header %}
					<th scope='col'> {{h}} </th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in playerpos_top %}
				<tr>
					{% if loop.index > 3 %}
						<td style='text-align:center;'> {{loop.index}} </td>
					{% else %}
						<td style='text-align:center;'> <img src="/static/place_{{loop.index}}_big.png" /> </td>
					{% endif %}
					{% for field in row %}
						{% if loop.index0 == 0 %}
							<td><a href="/player?player={{field}}">{{field}}</a></td>
						{% else %}
							<td>{{field}}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
	</table>
	<h3>Worst Overall Players</h3>
	<table class='padded'>
		<thead>
			<tr>
				<th scope='col' style='text-align:center;'>#</th>
				{% for h in header %}
					<th scope='col'> {{h}} </th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in playerpos_bottom %}
				<tr>
					<td style='text-align:center;'> {{loop.index}} </td>
					{% for field in row %}
						{% if loop.index0 == 0 %}
							<td><a href="/player?player={{field}}">{{field}}</a></td>
						{% else %}
							<td>{{field}}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
	</table>
	<h3>Ladder Leaders and Losers</h3>
	<table class='padded' style="width:60%">
		<thead>
			<tr>
				<th scope='col' >Leader</th>
				<th scope='col' >Ladder</th>
				<th scope='col' >Loser</th>
			</tr>
		</thead>
		<tbody>
			{% for row in leaders %}
				<tr>
					{% for field in row %}
						{% if loop.index0 != 1 %}
							<td><a href="/player?player={{field}}">{{field}}</a></td>
						{% else %}
							<td>{{field}}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
<div>
{% endblock %}