{% extends "base.html" %}

{% block content %}
<div id='index_block_center_wrapper'>
	<div id='index_block_center'>
		<div id='index_block_content'>
			{% if matches_header %}
			<h1>{{matches_header}}</h1>
			{% endif %}
			<ul>
			{% for l in matches %}
			<li>({{l.date}}) {{ l.modname }}: <a href="/viewmatch.py?id={{ l.id }}">details</a> </li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
	<div id='index_block_left'>
		<div id='index_block_content'>
			{% if ladders_header %}
			<h1>{{ladders_header}}</h1>
			{% endif %}
			<ul>
			{% for l in ladders %}
			<li>
				<!--({{l.date}}) {{ l.modname }}: <a href="/viewmatch.py?id={{ l.id }}">details</a>-->
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div id='index_block_right'>
		<div id='index_block_content'>
			{% if players_header %}
			<h1>{{players_header}}</h1>
			{% endif %}
			<ul>
			{% for l in players %}
			<li>
				<!--({{l.date}}) {{ l.modname }}: <a href="/viewmatch.py?id={{ l.id }}">details</a>-->
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}

