{% extends "base.html" %}

{% block content %}
<h1> {{ladder.name}} scoreboard</h1>
<div id='results'>
	<table>
		<thead>
			<tr>
				<th scope='col'>#</th>
				{% for h in rank_table.header %}
					<th scope='col'> {{h}} </th>
				{% endfor %}
			</tr>
		</thead>
	<tbody>
		{% for row in rank_table.rows %}
			<tr>
				<td> {{loop.index}} </td>
				{% for field in row %}
					{% if loop.index0 == 0 %}
						<td><a href="/viewplayer.py?player={{field}}">{{field}}</a></td>
					{% else %}
						<td>{{field}}</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<br/>
	<a href="/viewladder.py?id={{ladder.id}}" > back to ladder </a>
</div>
{% endblock %}

