{% extends "base.html" %}

{% block content %}
{% if header %}
<h1>{{header}}</h1>
{% endif %}
{% set new_asc = not asc %}
<table class='padded'>
	<theader>
		<tr>
			<td>
				<a href="/viewplayer.py?offset={{offset}}&limit={{limit}}{% if order is sameas 'id'%}&asc={{new_asc}}{%endif%}&order=id" >
				ID </a>
			</td>
			<td>
				<a href="/viewplayer.py?offset={{offset}}&limit={{limit}}{% if order is sameas 'nick'%}&asc={{new_asc}}{%endif%}&order=nick" >
				Nickname</a>
			</td>
			<td> Matches played </td>
		</tr>
	</theader>
	<tbody>
	{% for tuple in players %}
		{% set p = tuple[0] %}
		{% set c = tuple[1] %}
		<tr>
			<td>{{p.id}}</td>
			<td><a href="/viewmatch.py?player={{ p.nick }}">{{ p.nick }}</a> </li>
			<td style="text-align:center;"> {{ c }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}