{% extends "base.html" %}

{% block content %}
<h1>Match #{{matchinfo.match.id}}</h1>
<h3>Ladder: {{ladder.name}}</h3>
<h3> General info </h3>
<table class="padded">
<tbody>
{% for row in matchinfo.rows %}
<tr>
	{% for field in row %}
		<td>
			{% if not field %}
				not available
			{% else %}
				{{field}}
			{% endif %}
		</td>
	{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
<br/>
<h3> Results </h3>
<table class="padded">
<thead>
	<tr>
		<td>#</td>
		<td>nick</td>
		<td>team</td>
		<td>ally</td>
		<td>note</td>
	</tr>
</thead>
<tbody>
{% for r in matchinfo.match.results %}
<tr>
		<td>{{loop.index}}</td>
		<td>{{r.player.nick}}</td>
		<td>{{r.team}}</td>
		<td>{{r.ally}}</td>
		<td>
			{% if r.disconnect != -1 %}
				{% if r.kick %}
					kicked
				{% elif r.timeout %}
					timeout
				{% elif r.quit %}
					quit
				{% else %}
					undefined
				{% endif %}
			{% endif %}
		</td>
</tr>
{% endfor %}
</tbody>
</table>

<br/>
<h3> Settings </h3>
<table class="padded">
<tbody>
{% for s in matchinfo.match.settings %}
	{% if not ( s.key == 'modname' or s.key == 'mapname' ) %}
		<tr>
				<td>{{s.key}}</td>
				<td>{{s.value}}</td>
		</tr>
	{% endif %}
{% endfor %}
</tbody>
</table>
{% endblock %}