{% extends "base.html" %}

{% block content %}
<h1>{{ladder.name}}</h1>
<p>{{ladder.description}}
</p>
<table >
<tbody>
{% for row in laddertable.rows %}
<tr>
	{% for field in row %}
		<td>{{field}}</td>
	{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
<br/>
<br/>
<table >
<thead>
<tr>
{% for h in opt_headers %}
	<td> {{h}} </td>
{% endfor %}
</tr>
</thead>
<tbody>
{% for opt in options %}
<tr>
		<td>{{opt.key}}</td>
		<td>{{opt.value}}</td>
		<td>{{opt.is_whitelist}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}