{% extends "base.html" %}

{% block content %}
<h1>Player {{player.nick}}</h1>
<h3>recent matches</h3>
<ul>
{% for l in matches %}
  <li>({{l.date}}) {{ l.modname }}: <a href="/match?id={{ l.id }}">details</a> </li>
{% endfor %}
</ul>
<div id='results'>
<h3>Active on</h3>
	<table>
		<theader>
			<tr>
				<th scope='col'>
					ladder
				</th>
				<th scope='col'>
					position
				</th>
				<th scope='col'>
					#matches played
				</th>
			</tr>
		</theader>
		<tbody>
		{% if ladders | length > 0 %}
			{% for l in ladders %}
				<tr>
					<td>
						<a href="/ladder?id={{l.id}}">{{l.name}}</a>
					</td>
					<td>
						{{positions[l.id]}}
					</td>
					<td>
						{{played[l.id]}}
					</td>
				</tr>
			{% endfor %}
		{% else %}
			no activity yet
		{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}