{% extends "base.html" %}

{% block content %}

{% set count = 1 %}
<div id='ladderlist'>
	<table>
	<tbody>
		<tr>
			{% for l in ladders %}
				{% if loop.index is even %}
					<td>
				{% else %}
					<td class="unevengridcell">
				{% endif %}
					<h3><a href="/ladder?id={{ l.id }}">{{ l.name }}</a>
						{% if l.description %} - {{l.description}} {% endif %}
					</h3>
					<div>
							{{l.player_count}} <a href="/player?ladder={{l.id}}">Players</a>,
							{{l.match_count}} <a href="/match?ladder={{l.id}}">Matches</a>
					</div>
					<div >
						{% if l.ranks.rows|length > 0 %}
							<h4>Top Players</h4>
							<table>
								{% for row in l.ranks.rows %}
									<tr>
										{% if loop.index > 3 %}
											<td style='text-align:center;width:10%;'> {{loop.index}}. </td>
										{% else %}
											<td style='text-align:center;;width:10%;'> <img src="/static/place_{{loop.index}}_small.png" /> </td>
										{% endif %}
										<td style='text-align:left;'>
											<a href="/match?ladder={{l.id}}&player={{row[0]}}"> {{row[0]}}</a>
										</td>
									</tr>
								{% endfor %}
							</table>
						{% endif %}
					</div>
					{% if l.last_match %}
						<div>
							<h4>Most recent match:</h4>
								{% if l.last_match.mapname %}
									{{l.last_match.mapname}}
									<br/>
								{% endif %}
								<a href="/match?id={{l.last_match.id}}">{{l.last_match.date}}</a>
						</div>
					{% endif %}
				<!--		<a href="/admin/change_ladder.py?id={{ l.id }}">edit</a>-->
				</td>
				{% if count is divisibleby 3 %}
					</tr><tr>
				{% endif %}
				{% set count = count + 1 %}
			{% endfor %}
		</tr>
	</tbody>
	</table>
</div>
{% endblock %}