{% extends "base.html" %}

{% block content %}
<h1>Rules for ladder {{ladder.name}}</h1>
<h2> General settings</h2>
<table >
	<tbody>
		{% for row in laddertable.rows %}
			<tr>
				{% for field in row %}
					<td>{{field}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Ladder admins</h2>
<div id='inlinelist'>
	<ul>
		{% for a in options.admins %}
			<li>
				<a href='/player?player={{a}}' >{{a}}</a>
			</li>
		{% endfor %}
	</ul>
</div>

<div id='results'>
	<h2>Whitelisted options</h2>
	<table >
		<thead>
			<tr>
				{% for h in options.optheaders %}
					<th scope='col'>
						{{h}}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for opt in options.wloptions %}
				<tr>
					<td>{{opt.key}}</td>
					<td>{{opt.value}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div id='results'>
	<h2>Blacklisted options</h2>
	<table >
		<thead>
			<tr>
				{% for h in options.optheaders %}
					<th scope='col'>
						{{h}}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for opt in options.bloptions %}
				<tr>
					<td>{{opt.key}}</td>
					<td>{{opt.value}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}