{% extends "base.html" %}

{% block content %}
{% set count = 1 %}
<div id='matchgrid'>
	<table>
	<tbody>
		<tr>
			{% for l in matches %}
				{% if loop.index is even %}
					<td>
				{% else %}
					<td class="unevengridcell">
				{% endif %}
					<h3>
						<!--<a href="/viewmatch.py?id={{ l.id }}">Match #{{ l.id }}</a>
						- <a href="/viewladder.py?id={{l.ladder.id}}">{{l.ladder.name}} </a>-->
						<a href="/match?id={{ l.id }}">{{l.ladder.name}} match</a>
					</h3>
					<div >
						<ol>
							{% for r in l.results %}
								<li>
									<a href="/player?ladder={{l.ladder.id}}&player={{r.player.nick}}"> {{r.player.nick}}</a>
								</li>
							{% endfor %}
						</ol>
					</div>
				<p>Duration: {{l.duration}}</p>
				<p>Played on {{l.date}}</p>
				{% if l.replay %}
					<p><a href="/{{l.replay}}"> Replay </a> </p>
				{% endif %}
				</td>
				{% if count is divisibleby 3 %}
					</tr><tr>
				{% endif %}
				{% set count = count + 1 %}
			{% endfor %}
		</tr>
	</tbody>
	</table>
	{% if limit > 0 %}
		<h5>Showing last {{ matches|length }} matches -- <a href="/match?limit=-1">show all</a></h5>
	{% endif %}
</div>
{% endblock %}