{% extends "base.html" %}

{% block content %}

{% set count = 1 %}
<div id='ladderlist'>
	<table>
	<tbody>
		<tr>
			{% for l in ladders %}
				<td>
					<h3><a href="/viewladder.py?id={{ l.id }}">{{ l.name }}</a>
						{% if l.description %} - {{l.description}} {% endif %}
					</h3>
					<div>
						<ul>
							<li>Players: {{l.player_count}}</li>
							<li>Matches: {{l.match_count}}</li>
						</ul>
					<div>
					<div >
						<ol>
							{% for row in l.ranks.rows %}
							<li> <a href="/viewmatch.py?ladder={{l.id}}&player={{row[0]}}"> {{row[0]}}</a> </li>
							{% endfor %}
						</ol>
					<div>
					{% if l.last_match %}
						<div>
							<h4>Most recent match:</h4>
								{% if l.last_match.mapname %}
									{{l.last_match.mapname}}
									<br/>
								{% endif %}
								{{l.last_match.date}}
						</div>
					{% endif %}
				<!--		<a href="/admin/change_ladder.py?id={{ l.id }}">edit</a>-->
				</td>
				{% if count is divisibleby 3 %}
					</tr><tr>
				{% endif %}
				{% set count = count + 1 %}
			{% endfor %}
		</tr>
	</tbody>
	</table>
</div>
{% endblock %}