{% extends "base.html" %}

{% block content %}
<h1>{{ladder.name}} ladder</h1>
{% if ladder.description %}
	<p>{{ladder.description}}
	</p>
{% endif %}
<hr>
<h2>Top {{ rank_table.rows|length }}</h2>
<ol>
	{% for row in rank_table.rows %}
	<li> <a href="/viewmatch.py?ladder={{ladder.id}}&player={{row[0]}}"> {{row[0]}}</a> </li>
	{% endfor %}
</ol>
<hr>
<a href="/viewmatch.py?ladder={{ladder.id}}">Matches</a>
</br>
<a href="/scoreboard.py?id={{ladder.id}}">Full List</a>
</br>
<a href="/viewrules.py?id={{ladder.id}}">Rules</a>
<hr>

{% endblock %}