{% extends "base.html" %}

{% block content %}
<h1>{{ladder.name}}</h1>
<p>{{ladder.description}}
</p>
<h3> general info </h3>
<table >
<tbody>
{% for row in matchinfo.rows %}
<tr>
	{% for field in row %}
		<td>{{field}}</td>
	{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
<br/>
<h3> settings </h3>
<table >
<tbody>
{% for s in matchinfo.match.settings %}
<tr>
		<td>{{s.key}}</td><td>{{s.value}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<h3> settings </h3>
<table >
<thead>
	<tr>
		<td>nick</td>
		<td>died</td>
		<td>team</td>
		<td>ally</td>
		<td>disconnect</td>
		<td>quit</td>
		<td>desync</td>
		<td>connected</td>
		<td>timeout</td>
	</tr>
</thead>
<tbody>
{% for r in matchinfo.match.results %}
<tr>
		<td>{{r.player.nick}}</td>
		<td>{{r.died}}</td>
		<td>{{r.team}}</td>
		<td>{{r.ally}}</td>
		<td>{{r.disconnect}}</td>
		<td>{{r.quit}}</td>
		<td>{{r.desync}}</td>
		<td>{{r.connected}}</td>
		<td>{{r.timeout}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}