{% extends "base.html" %}

{% block content %}
<div id='results'>
	{% if header %}
	<h1>{{header}}</h1>
	{% endif %}

	{% if asc == 'True' %}
		{% set new_asc =  'False' %}
	{% else %}
		{% set new_asc = 'True' %}
	{% endif %}

	<table >
		<theader>
			<tr>
				<th scope='col'>
					<a href="/player?offset={{offset}}&limit={{limit}}
						{% if order == 'nick'%}
							&asc={{new_asc}}
						{% else %}
							&asc={{asc}}
						{%endif%}
						&order=nick" >
					Nickname</a>
				</th>
				<th scope='col'>
					<a href="/player?offset={{offset}}&limit={{limit}}
						{% if order == 'played'%}
							&asc={{new_asc}}
						{% else %}
							&asc={{asc}}
						{%endif%}
						&order=played" >
					# Matches</a>
				</td>
			</tr>
		</theader>
		<tbody>
		{% for tuple in players %}
			{% set p = tuple[0] %}
			{% set c = tuple[1] %}
			<tr>
				<td><a href="/player?player={{ p.nick }}">{{ p.nick }}</a> </li>
				<td> {{ c }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}